body {
    margin: 0;
    padding: 0;
}

#camera {
    position: fixed;
    top: 30%;
    left: 50%;

    min-width: 100%;
    min-height: 60%;
    width: auto;
    height: 60%;

    z-index: -100;

    transform: translateX(-50%) translateY(-50%);
}

#board {
    position: fixed;

    background-color: #ccc;

    top: 60%;
    left: 0%;

    width: 100%;
    height: 40%;

    font-size: large;
    text-align: center;
}

.cont {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#event_cont {
    padding: 25px 0;
}

#event {
    display: table-cell;
    width: 60%;
    font-size: large;
}

#res_name,
#res_entry {
    font-weight: bold;
    line-height: 200%;
}

.grow {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.center {
    width: 100%;
}

#res_name {
    font-size: x-large;
}

#res_entry {
    padding: 25px 0;
    font-size: xx-large;
}

#res_cont {
    display: none;
}

#access_req {
    line-height: 200%;
    font-weight: bold;
    font-size: xx-large;
}

#snapshotLimitOverlay {
    position: absolute;
    top: 30%;
    left: 50%;

    width: 70vmin;
    height: 70vmin;

    transform: translateX(-50%) translateY(-50%);

    text-align: center;
}

#snapshotLimitOverlay:after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.4);
}

#snapshot {
    display: none;
}

#flipCamera {
    position: absolute;
    background-color: #eee;
}

#flipCamera {
    display: none;

    top: 5vmin;
    right: 5vmin;
}

#about {
    background-color: white;
    height: 100%;
}

#about h4 {
    margin-top: 0;
}